@model ReportViewModel
@{
    ViewBag.Title = "Reports";
}

<div id="cal-placeholder">
    <h2 class="today">Today is: <span class="today-date" data-date="@Model.TodayDate.ShortDate">@Model.TodayDate.FullDate</span> </h2>
    <h4 class="viewed">Viewing report for <span data-date="@Model.ReportDate.ShortDate">@Model.ReportDate.FullDate</span></h4>

    <div id="cal" class="column"></div>

    <div id="new-record-dialog-placeholder">
        <button type="button" class="btn btn-info btn-md col-xs-12" data-toggle="modal" data-target="#create-record-dialog">Add new record</button>
        @Html.Partial("NewRecordDialog")
    </div>
</div>

<div id="report-section" class="report-section">
    <div id="records">
        @foreach (var record in Model.RecordsViewModel.Records)
        {
            @Html.Partial("Record", record)
        }
    </div>
    <div id="report-footer">
        <div id="report-sum-text">
            <span>Sum:</span>
        </div>
        <div id="report-sum">
            <span>@Model.RecordsViewModel.Sum</span>
        </div>
    </div>
</div>

<div id="empty-report" class="report-section" style="display: none;">
    <span>Add new record to the report for <i class="date-selected">@Model.ReportDate.FullDate</i></span>
</div>

<div id="record-template" style="display: none;">
    <div class="record">
        <div class="record-header">
            <div class="record-title">
                <span></span>
            </div>
            <div class="money-spent">
                <span></span>
            </div>
        </div>
        <div class="description">
            <span></span>
        </div>
        <div class="tags"></div>
    </div>
</div>

<script type="text/javascript">
    var reportService = new report.core.ReportService(!@Model.RecordsViewModel.Records.Any().ToString().ToLower());
    var calendar = new report.ui.CalendarWrapper('#cal-placeholder', '@Model.ReportDate.ShortDate', reportService);
    var recordDialog = new report.ui.NewRecordDialog('#create-record-dialog', calendar, tagsMultiselect, reportService);
</script>