@model ReportViewModel
@{
    ViewBag.Title = "Reports";
}

<h2 class="today">Today is: <span>@ViewBag.CurrentDate</span> </h2>
<h4 class="viewed">Viewing report for <span>@ViewBag.ViewedDate</span></h4>

<div id="cal-placeholder">
    <div id="cal" class="column"></div>

    <div id="new-record-dialog-placeholder">
        <button id="new-record-button">Create new record</button>
        @Html.Partial("NewRecordDialog")
    </div>
</div>

<div id="report-section">
    @Html.Partial("ListRecords")
</div>

<script type="text/javascript">
    var reportManager = new Report();
    var calendar = new CalendarCommon('@ViewBag.ViewedDate', reportManager);
</script>
